<h1>New Post</h1>
<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onSavePost()" *ngIf="!isLoading">
    <mat-form-field>
      <input matInput type="text" formControlName="title" placeholder="Post Title">
      <mat-error *ngIf="form.get('title').invalid">Please enter in a Title.</mat-error>
    </mat-form-field>
    <div>
      <button mat-stroked-button type="button" (click)="filePicker.click()">Select Image</button>
      <input type="file" #filePicker (change)="onImagedPicked($event)">
    </div>
    <div class="image-preview" *ngIf="imagePrev !== '' && imagePrev && form.get('image').valid">
      <img [src]="imagePrev" [alt]="form.value.title">
    </div>
    <div style="margin: 10px 0;" *ngIf="imagePrev !== '' && imagePrev && form.get('image').invalid">
      <b style="color:red;">The file selected is invalid</b>
    </div>
    <mat-form-field>
      <textarea matInput rows="4" formControlName="content" placeholder="Post Content"></textarea>
      <mat-error *ngIf="form.get('content').invalid">Please enter in some Content.</mat-error>
    </mat-form-field>
    <button color="primary" mat-raised-button type="submit">Save Post</button>
  </form>
</mat-card>
